@charset "utf-8";
#Nav {
	background:#699d1d;
	margin:0 -10px 0 -10px;
}
#Nav ul {
	margin:0;
	padding:0;
}
#Nav li {
	margin:10px 5px 10px 5px;
	list-style:none;
	float:left;
}
#Nav li a {
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	padding:5px;
	text-shadow:0 0 25px #FFF, 0 0 5px #FFF;
}
#Nav .Active a {
	background:#FFF;
	color:#699d1d;
	margin:0 0 0 10px;
	padding:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#Nav li a:hover {
	background:#FFF;
	color:#699d1d;
	padding:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/******************************/
#Nav .has-sub {
  z-index: 1;
}
#Nav .has-sub:hover > ul {
  display: block;
}
#Nav .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#Nav .has-sub ul li {
  *margin-bottom: -1px;
}
#Nav .has-sub ul li a {
  background: #71b00c;
  border-bottom: 1px dotted #aad06d;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
#Nav .has-sub ul li:hover a {
  background: #528009;
}
#Nav .has-sub .has-sub:hover > ul {
  display: block;
}
